---
import BaseLayout from "../layouts/BaseLayout.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { getAboutPage } from "../lib/strapi"
import {marked} from 'marked'

const {title, content, publishedAt: date} = await getAboutPage()

const description = "Hey there! Let me introduce myself."

const pageContent = marked.parse(content);
---


<BaseLayout title={title} description={description}>
  <article
    transition:animate="slide"
    class="md:px-40 xl:px-0 xl:w-2/5 mx-auto text-dark w-full overflow-x-hidden"
  >
    <h1 class="text-5xl font-heading leading-normal pb-5">{title}</h1>

    <section class="flex flex-col md:flex-row pb-5">
        <FormattedDate date={date} />
    </section>

    <div
      class="prose prose-lg prose-headings:font-heading prose-img:rounded-md"
    >
      <article set:html={pageContent} />
    </div>
  </article>
</BaseLayout>
