---
import FormattedDate from "./FormattedDate.astro";
const { slug, title, description, pubDate, category } = Astro.props;
---

<section class="flex flex-col gap-4">
  <h4 class="text-2xl font-bold"><a href={`/blog/${slug}/`}>{title}</a></h4>

  <span class="flex flex-col md:flex-row">
    <p class="md:border-r-dark md:pr-4 md:border-r-2">
      <FormattedDate date={pubDate} />
    </p>
    <p class="md:border-l-dark md:pl-4 text-light">
      {category}
    </p>
  </span>
  <p class="line-clamp-4">
    {description}
  </p>
</section>
