---
import { Image } from "astro:assets";
const { slug, title, description, pubDate, category, heroImage } = Astro.props;
const year = pubDate.getFullYear();
---

<section
  class="flex flex-col items-center md:items-start md:flex-row w-full gap-10"
>
  <a href={`/projects/${slug}`} class="shrink-0">
    <Image
      class="w-60 h-full object-scale-down object-center md:object-top rounded-md"
      src={heroImage}
      alt={`${title} Hero Image`}
    />
  </a>
  <section class="flex flex-col gap-4">
    <h3 class="text-3xl font-bold">
      <a href={`/projects/${slug}`}>{title}</a>
    </h3>
    <span
      class="flex flex-col items-center gap-5 md:items-start md:gap-0 md:flex-row"
    >
      <div class="text-white bg-primary rounded-2xl px-2 md:mr-4 max-w-fit">
        {year}
      </div>
      <p class="text-light md:ml-4">
        {category}
      </p>
    </span>
    <p class="line-clamp-5">{description}</p>
  </section>
</section>
