---
import ProjectCard from "./ProjectCard.astro";
import { getAllProjects } from "../lib/strapi";

const projects = (await getAllProjects())
  .sort((a, b) => b.publishedAt.valueOf() - a.publishedAt.valueOf())
  .slice(0, 3);
---

<section class="flex flex-col items-center py-24 text-dark">
  <div class="md:flex md:items-center md:justify-between w-full">
    <h2
      class="font-heading font-bold text-3xl pb-16 md:text-5xl text-center md:text-start"
    >
      Latest Projects
    </h2>
    <a href="/projects/1" class="text-primary hidden md:block">View all</a>
  </div>
  <div class="flex flex-col gap-10 w-full text-center md:text-start">
    {
      projects.map((project) => (
        <ProjectCard slug={project.slug} title={project.title} description={project.description}, pubDate={project.publishedAt} category={project.category} heroImage={project.cover} />
      ))
    }
  </div>
  <a href="/projects/1" class="text-primary pt-5 md:hidden">View all</a>
</section>
