---
import PostCard from "./PostCard.astro";
import { getAllPosts } from "../lib/strapi";

const posts = (await getAllPosts())
  .sort((a, b) => b.publishedAt.valueOf() - a.publishedAt.valueOf())
  .slice(0, 2);
---

<section class="flex flex-col items-center py-24 text-dark">
  <div class="md:flex md:items-center md:justify-between w-full">
    <h2
      class="font-heading font-bold text-3xl pb-16 md:text-5xl text-center md:text-start"
    >
      Recent Posts
    </h2>
    <a href="/blog/1" class="text-primary hidden md:block">View all</a>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-16 xl:gap-64 w-full text-center md:text-start"
  >
    {posts.map((post) => <PostCard slug={post.slug} title={post.title} description={post.description} pubDate={post.publishedAt} category={post.category.name} />)}
  </div>
  <a href="/blog/1" class="text-primary pt-5 md:hidden">View all</a>
</section>
