---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { title, pubDate, category, description, heroImage } =
  Astro.props.frontmatter || Astro.props;
const date = typeof pubDate === "string" ? new Date(pubDate) : pubDate;
---

<BaseLayout title={title} description={description}>
  <article
    class="md:px-40 xl:px-0 xl:w-2/5 mx-auto text-dark w-full overflow-x-hidden"
  >
    <h1 class="text-5xl font-heading leading-normal pb-5">{title}</h1>
    {
      heroImage && (
        <img
          src={heroImage}
          class="object-scale-down w-full h-64 mx-auto pb-5 rounded-md"
          alt={`${title} Hero Image`}
        />
      )
    }

    <section class="flex flex-col md:flex-row pb-5">
      <p class="md:border-r-dark md:pr-4 md:border-r-2">
        <FormattedDate date={date} />
      </p>
      <p class="md:border-l-dark md:pl-4 text-light">
        {category}
      </p>
    </section>

    <div
      class="prose prose-lg prose-headings:font-heading prose-img:rounded-md"
    >
      <slot />
    </div>
  </article>
</BaseLayout>
